{% extends 'base.html.twig' %}

{% block title %}
    Car List
{% endblock %}

{% block content %}
<h1><i class="fa fa-car"></i> Car List</h1>
<ul class="list-group">
    {% for car in cars %}
    <li class="list-group-item"><a href="{{ env.base_path }}cars/{{ car.id }}">{{ car.maker }} {{ car.model }}</a>  </li>
    {% endfor %}
</ul>

{% endblock %}
