{% extends 'base.html.twig' %}

{% block title %}
    New Car
{% endblock %}

{% block content %}

    <form action="{{ env.base_path }}cars/create" method="post">
        <div class="form-group">
            <label for="maker">Maker:</label>
            <input type="text" class="form-control" name="maker" id="maker">
            <label for="model">Model:</label>
            <input type="text" class="form-control" name="model" id="model">
        <button type="submit" class="btn btn-info my-3">Add</button>
        </div>
    </form>

{% endblock %}